---
import { asc, db, User } from 'astro:db'
import Layout from '@/layouts/Layout.astro'
import type { Usuario } from '@/lib/types/bbdd.ts'
import { getFullName } from '@/lib/types/utils'

const people = await db.select().from(User).orderBy(asc(User.name)).all()

const members = {
  admin: [] as Usuario[],
  member: [] as Usuario[]
}
if (people) {
  people.forEach((person) => {
    person['short_name'] = getFullName(person.name)

    if (person.is_admin) {
      members.admin.push(person)
    } else {
      members.member.push(person)
    }
  })
}
---

<Layout title="Listado de usuarios">
  <div class="flex flex-col space-y-8">
    <div class="overflow-hidden bg-white">
      <div class="border border-black bg-white px-4 py-5 sm:px-6 mb-4 shadow sm:rounded-lg">
        <div class="flex flex-wrap items-center justify-between sm:flex-nowrap">
          <h3 class="text-base uppercase font-semibold text-gray-900">Profesores</h3>
          <div class="ml-4 shrink-0">
            <a
              href="/members/member?role=admin"
              class="content-center text-center bg-transparent font-semibold px-4 py-2 border border-black hover:border-fuchsia-500 rounded shadow"
              >Nuevo</a
            >
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-4 px-4">
        {
          (members &&
            members.admin &&
            members.admin.length > 0 &&
            members.admin.map((user) => (
              <a
                href={'/members/member?id=' + user.id}
                class={
                  'relative flex items-center space-x-3 rounded-lg shadow px-6 py-5 hover:border-fuchsia-500 border-2 border-' +
                  (user.is_active ? 'green' : 'red') +
                  '-500'
                }
                title={user.description}
              >
                <div class="shrink-0">
                  <span
                    class={
                      'inline-flex size-10 items-center justify-center rounded-full ' +
                      (user.is_admin ? 'bg-red-300' : 'bg-gray-500')
                    }
                  >
                    <span class="text-lg font-medium text-white uppercase">
                      {user['short_name']}
                    </span>
                  </span>
                </div>
                <div class="min-w-0 flex-1">
                  <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                      <h3 class="truncate text-sm font-medium text-gray-900">{user.name}</h3>
                    </div>
                    <p class="mt-1 truncate text-sm text-gray-500">{user.email}</p>
                  </div>
                </div>
              </a>
            ))) || (
            <span class="text-center text-gray-500 col-span-4">
              Aún no hay profesores registrados.
            </span>
          )
        }
      </div>
    </div>

    <div class="overflow-hidden bg-white">
      <div class="border border-black bg-white px-4 py-5 sm:px-6 mb-4 shadow sm:rounded-lg">
        <div class="flex flex-wrap items-center justify-between sm:flex-nowrap">
          <h3 class="text-base uppercase font-semibold text-gray-900">Miembros</h3>
          <div class="ml-4 shrink-0">
            <a
              href="/members/member?role=member"
              class="content-center text-center bg-transparent font-semibold px-4 py-2 border border-black hover:border-fuchsia-500 rounded shadow"
              >Nuevo</a
            >
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-4 gap-4 px-4">
        {
          (members &&
            members.member &&
            members.member.length > 0 &&
            members.member.map((user) => (
              <a
                href={'/members/member?id=' + user.id}
                class={
                  'relative flex items-center space-x-3 rounded-lg shadow px-6 py-5 hover:border-fuchsia-500 border-2 border-' +
                  (user.is_active ? 'green' : 'red') +
                  '-500'
                }
                title={user.description}
              >
                <div class="shrink-0">
                  <span
                    class={
                      'inline-flex size-10 items-center justify-center rounded-full ' +
                      (user.is_admin ? 'bg-red-300' : 'bg-gray-500')
                    }
                  >
                    <span class="text-lg font-medium text-white uppercase">
                      {user['short_name']}
                    </span>
                  </span>
                </div>
                <div class="min-w-0 flex-1">
                  <div class="flex-1 truncate">
                    <div class="flex items-center space-x-3">
                      <h3 class="truncate text-sm font-medium text-gray-900 capitalize">
                        {user.name}
                      </h3>
                    </div>
                    <p class="mt-1 truncate text-sm text-gray-500">{user.email}</p>
                  </div>
                </div>
              </a>
            ))) || (
            <span class="text-center text-gray-500 col-span-4">
              Aún no hay miembros registrados.
            </span>
          )
        }
      </div>
    </div>
  </div>
</Layout>
